@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.container {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  margin: 0;
}

button {
  margin: 10px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 3em;
  background-color: white;
  border: none;
}

a {
  color: black;
  text-decoration: none;
}

a:active {
  text-shadow: black 1px 1px;
}

/* Links */
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Page - children: .showbox .btnbox*/
/* Showbox - children: .imageContainer .description .recipe .recipeBtn*/
.showBox {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  grid-row: 1;
  grid-column: 1;
}

.description {
  grid-row: 1;
  grid-column: 2;
}

.recipe {
  grid-row: 2;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipeBtn {
  grid-row: 3;
  grid-column: 1 / 4;
  padding: 0;
  margin: 0;
}

.showBox img {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.showBox h2 {
  font-size: 2.5em;
}

.toDoShowBox {
  height: 200px;
  width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoShowBox h2 {
  font-size: 2.5em;
}

.recipeBtn button {
  width: auto;
  font-size: 0.6em;
  color: pink;
  padding: 0;
  margin: 0;
}

/* Btnbox */
.btnBox button {
  width: auto;
  font-size: 2.5em;
  margin: 0 2%;
}

@media only screen and (max-width: 700px) {
  .showBox {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .description {
    order: 1
  }

  .imageContainer {
    order: 2;
  }

  .recipe {
    order: 3;
  }

  .recipeBtn {
    order: 4;
  }

  .showBox img {
    width: 80%;
    margin: 20px;
  }

  .toDoShowBox {
    width: 90%;
    margin: 0 auto;
  }

  .btnBox {
    display: flex;
    flex-direction: column;
  }
}
